html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: rgb(0, 122, 65);
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

header {
    background-color: rgb(23, 255, 112);
    padding: 5px;
    top: 0px;
    left: 0px;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    height: 100%;
}

section {
    background-color: white;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    width: 550px;
}

section ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}